html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 1200px;
    background-color: #778899;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    height: 50px;
    align-items: center;
    background: linear-gradient(90deg, #4e54c8, #8f94fb);
    border-bottom: 3px solid #4e54c8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img {
    height: 45px;
    background-color: transparent;
    transform: rotate(40deg);
    padding: 10px;
}

.nav-title {
    font-family: Arial;
    font-Size: 24px;
    font-weight: Bold;
    color: white;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    right: 48.2%;
    font-style: italic;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.navbar a{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.footer {
    display: flex;
    height: 30px;
    background-color: lightblue;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.footer-text {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.banner img {
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex: 1;
}

.right-half {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    flex: 1;
}

.left-half {
    width: 50%;
    padding: 20px;
    flex: 1;
}

.intro {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid darkblue;
    box-sizing: border-box;
    display: inline-block;
    align-self: flex-start;
}

.intro-header {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    text-decoration: underline;
    margin-bottom: 10px;
}

.intro-text {
    font-family: Arial;
    font-size: 16px;
    color: black;
    max-width: 100%;
    word-wrap:break-word;
    padding: 10px;
}

.img-link {
    margin-top: 10px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: black;
    align-self: center;
}

.img-link:hover {
    color:blueviolet;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.events {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 250px;
    padding-right: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-content: center;
}

.event-box {
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border 0.3s ease;
    background-color: #6a7b8d;
    max-width: 100;
}

.event-box:hover {
    border: 1px solid #007BFF;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
}

.event-box img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
}

.event-box h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}

.event-box p {
    font-family: Arial;
    font-size: 16px;
    color: black;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-left: 250px;
    padding-right: 250px;
    flex: 1;
}

.grid-container {
    border: 2px solid #ccc;
    border-radius: 3px;
    text-align: center;
    background: lightslategray;
    transition: transform 0.3s ease;
    width: 100%;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
}

.caption {
    margin-top: 10;
    font-family: Arial;
    font-size: 14px;
    color: white;
    font-style: italic;
}

.grid-container:hover {
    transform: scale(1.2);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 10);
}

.form-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    height: auto;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 1000px;
    max-height: 600px;
    height: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form input {
    width: 950px;
    font-family: arial;
    margin: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.contact-form textarea {
    width: 950px;
    height: 200px;
    font-family: arial;
    resize: none;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px 15px;
    background: navy;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: lightblue;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: 1;
}

.map-container iframe{
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    flex: 1;
}

.timeline {
    margin-top: 100px;
    width: 10px;
    height: 95%;
    background: linear-gradient(0deg,#4e54c8, #8f94fb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline img:nth-of-type(1) {
    position: absolute;
    top: 7%;
    left: 30.81%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4e54c8;
    transition: transform 0.3s ease;
    z-index: 1;
}

.timeline img:nth-of-type(2) {
    position: absolute;
    top: 27.32%;
    left: 63.4%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4e54c8;
    transition: transform 0.3s ease;
    z-index: 1;
}

.timeline img:nth-of-type(3) {
    position: absolute;
    top: 51.5%;
    left: 30.5%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4e54c8;
    transition: transform 0.3s ease;
    z-index: 1;
}

.timeline img:nth-of-type(4) {
    position: absolute;
    top: 74.32%;
    left: 63.1%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4e54c8;
    transition: transform 0.3s ease;
    z-index: 1;
}

.timeline img:hover {
    transform: scale(1.2);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 10);
}

.timeline-point {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid #4e54c8;
    border-radius: 50%;
}

.event-card {
    font-family: Arial;
    position: relative;
    width: 280px;
    padding: 10px;
    background: white;
    border: 3px solid #4e54c8;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.event-card p {
    font-size: 16px;
    color: black;
}

.event-card:nth-child(1) { top: -70px; right: 380px; border-radius: 0 80px 80px 0; }
.event-card:nth-child(1) h3 {
    padding-left: 50px;

}
.event-card:nth-child(1) p {
    padding-left: 55px;
}
.event-card:nth-child(1)::before {
    content: "";
    position:absolute;
    width: 85px;
    height: 2px;
    top: 50%;
    right: -30%;
    border-top: 2px dashed navy;
}
.event-card:nth-child(2) { top: 45px; left: 100px; border-radius: 80px 0 0 80px; }
.event-card:nth-child(2) h3 {
    padding-right: 30px;
}
.event-card:nth-child(2) p {
    padding-right: 40px;
}
.event-card:nth-child(2)::before {
    content: "";
    position:absolute;
    width: 85px;
    height: 2px;
    top: 47.5%;
    right: 101%;
    border-top: 2px dashed navy;
}
.event-card:nth-child(3) { top: 200px; right: 380px; border-radius: 0 80px 80px 0;}
.event-card:nth-child(3) h3 {
    padding-left: 50px;

}
.event-card:nth-child(3) p {
    padding-left: 55px;
}
.event-card:nth-child(3)::before {
    content: "";
    position:absolute;
    width: 85px;
    height: 2px;
    top: 47.5%;
    right: -30%;
    border-top: 2px dashed navy;
}
.event-card:nth-child(4) { top: 345px; left: 100px; border-radius: 80px 0 0 80px;}
.event-card:nth-child(4) h3 {
    padding-right: 30px;
}
.event-card:nth-child(4) p {
    padding-right: 40px;
}
.event-card:nth-child(4)::before {
    content: "";
    position:absolute;
    width: 85px;
    height: 2px;
    top: 50%;
    right: 101%;
    border-top: 2px dashed navy;
}
